<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168946448-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168946448-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARB – A podcast compilation</title>
    <link rel="stylesheet" href="dist/app.css">
    <script src="./dist/manifest.js"></script>
    <script src="./dist/vendor.js"></script>
</head>
<body>

<div class="app">
    <div class="mainTitle">
        BARB
    </div>
    <div class="details">
        <div>BARB is a collection of podcasts produced by the sophomore Interaction Design students of ArtEZ. The class
            Sound Design is conducted by <a href="http://www.nataliadominguezrangel.com" target="_blank">Natalia Dominguez Rangel</a>.
        </div>
        <div>The four podcasts were produced throughout the first semester of 2020.</div>
    </div>

    <div class="podcasts">
        <podcast-card title="Bite the Bit" color="#9e1fdb" url="./audio/btb.mp3" :current-title="currentTitle" >
            <template v-slot:front>
                <img src="images/bitethebit.png" alt="">
            </template>
            <template v-slot:back>
                <strong>Bite the Bit</strong> is a podcast about chiptune sound and music, and how it has evolved and branched out through decades of experimentation and creativity.
                <br><br>
                Brought to you by <strong>Francisco Vizentin</strong> and <strong>Guido van der Kooij</strong>
            </template>
        </podcast-card>

        <podcast-card title="about:color" color="#314465" url="./audio/about-color.mp3" :current-title="currentTitle">
            <template v-slot:front>
                <img src="images/aboutcolor.gif" alt="">
            </template>
            <template v-slot:back>
                Join us on our sound walk trough the supermarket. Create your own space while listening to the colors.<br>
                <br>
                Created by <b>Marieke Leene</b> and <b>Aafje van Grieken</b>
            </template>
        </podcast-card>

        <podcast-card title="Roll the Dice" color="#d74a18" url="./audio/Roll The Dice podcast.mp3" :current-title="currentTitle">
            <template v-slot:front>
                <img src="images/rollthedice.png" alt="">
            </template>
            <template v-slot:back>
                Get ready for a twisted story about one really dangerous game. It will take you through the city, where money decide everything and all can fall apart after one brief move. We created different soundscapes that take you on these journey with our players, will you solve the biggest mystery of this podcast?

                <br><br>Credits:<br><br>

                Monopoly Plus Soundtrack<br>
                Sunny by New York Jazz lounge<br>
                Jingle by  Stephan van der Woerd<br>
                <br>
                Big thanks to Beeld en Geluid archives for making a lot of sounds available for us!

            </template>
        </podcast-card>

        <podcast-card title="BEACH 2020" color="#7cb5eb" url="./audio/beach2020.mp3" :current-title="currentTitle">
            <template v-slot:front>
                <img src="images/06-3401879.jpg" alt="">
            </template>
            <template v-slot:back>
                It's a phone call<br>
                It's a journey<br>
                Your phone is calling<br>
                Pick up the phone<br>
                <br>
                You are being called now<br>
                Who's calling<br>
                Who's coming<br>
                <br>
                Who's on the other side<br>
                What do they want<br>
                Why are they calling you<br>
                Who are they calling<br>
                It's a phone call<br>
                It's a journey<br>
                Your phone is calling<br>
                Pick up the phone<br>
                <br>
                You are being called now<br>
                Who's calling<br>
                Who's coming<br>
                <br>
                Who's on the other side<br>
                What do they want<br>
                Why are they calling you<br>
                Who are they calling
            </template>
        </podcast-card>
    </div>

    <div class="player-container">
        <div class="player" :class="{inactive: currentTitle == null}">
            <div class="loading-container" :class="{loading: loading}">
                <div class="title">{{currentTitle}}</div>

                <div class="left">
                    <img @click="pause" class="play-pause" v-if="!paused" src="./images/pause.svg" alt="">
                    <img @click="play" class="play-pause" v-if="paused" src="./images/play2.svg" alt="">
                </div>
                <div class="center">
                    <input type="range" min="0" :max="duration" :value="progress" step="any" class="slider" id="myRange" @input="scrub">
                </div>
                <div class="right">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="dist/app.js"></script>
</body>
</html>
