$bg: #eeeeee;
$bgLighter: #dbdbdb;
$main: #1f1f1f;

html, body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $bg;
  color: $main;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 80vw;
}

header {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
  margin-bottom: 8em;
  margin-top: 4em;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.card__face--front > img {
  width: 100%;
}

.podcastTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}