@import "slider";

$bg: #eeeeee;
$bgLighter: #dbdbdb;
$main: #1f1f1f;

* {
  box-sizing: border-box;
}

a, a:visited {
  color: white;
  transition: all 200ms;
}

a:hover {
  margin-left: 1em;
}

html, body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $bg;
  color: $main;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-top: 100px ;
  margin-bottom: 150px;
}

.app, .podcasts {
  width: 100%;
}


.app {
  display: grid;
  grid-gap: 20px 4em;
  grid-template-columns: 1fr 2fr;
}

header {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}

.mainTitle {
  font-weight: bold;
}

.details {
  grid-column: 1;
}

.details div {
  margin-bottom: 20px;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em 5em !important;
  width: max-content !important;
  margin: 0 !important;
  padding-top: 2px;
}

.card__face--front > img {
  width: 100%;
}

.podcastTitle {
  transition: color 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

@media (max-width: 1500px) {
  body {
    width: 90vw;
    height: auto;
    display: block;
  }

  header {
    //grid-template-rows: auto auto;
  }

  .podcasts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    width: auto;
    margin: 0 auto;
  }

  .details {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  header {
    max-width: 800px;
  }

  .podcastTitle {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .podcasts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

@media screen and (max-width: 1250px) {
  .app {
    grid-template-columns: 1fr;
  }

  .podcast {
    margin: 0 !important;
  }
}


video {
  width: 100%;
  height: auto;
}


/**
 * Fancy card
 */

/* Styles for the tilt block */
.podcast {
  display: block;
  height: 400px;
  width: 300px;
  margin: 0 auto;
  background: none;
  transition: box-shadow 0.5s;
  transform-style: preserve-3d;
}

.podcast:hover {
    cursor: pointer;
  z-index: 2;
}



.card {
  transition: box-shadow 0.5s, transform .5s;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;

  a {
    color: white
  }
}

.card:hover {
}

.card.is-flipped {
  transform: rotateY(-180deg);
  z-index: 99;
}

.card__face {
  position: absolute;
  width: 100%;
  transition: background-color .5s;
  height: 100%;

  transform-style: preserve-3d;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  // background: #111;
}

.card__face--back {
  // background: #111;
  overflow: scroll;
  transform: rotateY(180deg);
  padding: 20px;
}

.card__face:hover, .card.flipping .card__face {
      box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}


.podcast:hover, .podcast .card.is-flipped {
  .podcastTitle {
    color: white;
  }
  .card__face {
    background: var(--card-color, #aaa);
    color: white;
  }
}


.player-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  width: 100vw;
  padding-bottom: 40px;
}

.player {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  background-color: white;

  box-shadow: 0 0px 0.7px -16px rgba(0, 0, 0, 0.021),
  0 0.8px 1.6px -16px rgba(0, 0, 0, 0.029),
  0 2.1px 2.8px -16px rgba(0, 0, 0, 0.034),
  0 4px 4.2px -16px rgba(0, 0, 0, 0.038),
  0 6.5px 6px -16px rgba(0, 0, 0, 0.041),
  0 9.7px 8.5px -16px rgba(0, 0, 0, 0.045),
  0 13.8px 12.1px -16px rgba(0, 0, 0, 0.048),
  0 19.2px 17.5px -16px rgba(0, 0, 0, 0.053),
  0 27.1px 27px -16px rgba(0, 0, 0, 0.059),
  0 48px 48px -16px rgba(0, 0, 0, 0.07);
  transition: all .5s;

  .loading-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    padding: 20px 0  25px 0;
  }

  .title {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  .left {
    display: flex;
    height: 40px;
    justify-content: center;
  }

  .center {
    justify-content: space-around;
    padding: 0px 0;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;

    .slider {
      width: 100%;
    }
  }

  .title {
    text-align: center;
    font-weight: bold;
  }

  &.inactive {
    transform: translateY(150px);
  }
}


.loading {
  animation: pulse .5s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.play-pause {
  width: 20px;
}
