$bg: #eeeeee;
$bgLighter: #dbdbdb;
$main: #1f1f1f;

html, body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $bg;
  color: $main;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;

}

.app {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 4em;
}

header {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
}

.mainTitle {
  font-weight: bold;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.card__face--front > img {
  width: 100%;
}

.podcastTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  body {
    width: 90vw;
    height: auto;
    display: block;
  }

  header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 1em;
  }

  .podcasts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
  }

  .podcastTitle {
    font-size: 1em;
  }
}

@media screen and (max-width: 750px) {
  .details {
    grid-template-columns: 1fr;
  }
}

video {
  width: 100%;
  height: auto;
}


/**
 * Fancy card
 */

/* Styles for the tilt block */
.podcast {
  display: block;
  height: 400px;
  width: 300px;
  margin: 0 auto;
  background: none;
  transition: box-shadow 0.5s;
  transform-style: preserve-3d;
}

.podcast:hover {
    cursor: pointer;
}



.card {
  transition: box-shadow 0.5s, transform .5s;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
    z-index: 2;
}

.card:hover {

}

.card.is-flipped {
  transform: rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  transition: all .5s;
  height: 100%;
  transform-style: preserve-3d;

  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  z-index: 2;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  // background: #111;
}

.card__face--back {
  // background: #111;
  transform: rotateY(180deg);
}

.card__face:hover, .card.flipping .card__face {
      box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

